<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'css/app_global.css' %}">
    {% block stylesheet %}{% endblock stylesheet %}
    {% block head_at_end %}{% endblock %}
    {% block chart %}{% endblock chart %}

    <title>Uh</title>
  </head>

  <body>
    {% block body %}

    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container r">
        <a href="{% url 'goals:home' %}">Bikes and Stats</a>
        <div class="collapse navbar-collapse" id="mainMenu">
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="#">My account</a>
                <a class="dropdown-item" href="#">Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>
              </div>
            </li>
          </ul>
          {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary btn-sm">Log in</a>
            <a href="{% url 'accounts:signup' %}" class="btn btn-sm btn-primary ml-2">Sign up</a>
          </form>
          {% endif %}
        </div>
      </div>
    </nav>

      <div class="container b">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">

              <div class="col-lg-2 g">
                <ul class="sidebar-nav">
                  <li class="nav-item"><a href="{% url 'reports:data_table_empty_date' %}">Data</a></li>
                </ul>
              </div>

              <div class="col-lg-10 mx-auto px-auto gr">{% block content %}{% endblock content %}
              </div>

            </div>
          </div>
        </div>
      </div>


    {% endblock body %}
  </body>
</html>
