{% load static %}
{% load template_filters %}
<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/css-loader.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script> <!-- Htmx -->
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script> <!-- Alpine Core -->
	<script src="https://unpkg.com/sticky-table-headers"></script>
    {% include 'core/includes/form_date_scripts.html' %}
    <script type="text/javascript" src="{% static 'js/dialog.js' %}"></script>

    {% block head %}{% endblock head %}

    <title>Bike statistic</title>
  </head>

  <body>
	  <!-- Loader -->
	<div class="htmx-indicator loader loader-default is-active" id="indicator"></div>

	{% block body %}
	<nav>
		<!-- Data -->
		<div {% if '/' == request.path %}class="active"{% endif %}>
			<a href="{% url 'index' %}">Data</a>
			<div class="dropdown">
				<button class="dropdown__btn"></button>
				<div class="dropdown__menu">
					<a href="{% url 'index' %}">View</a>
					<a class="nav-link" role="button" hx-target="#htmx-container" hx-get="{% url 'data:data_insert' %}" hx-indicator="#indicator">Update</a>
				</div>
			</div>
		</div>

		<!-- Year progress -->
		<div {% if request.resolver_match.url_name == 'year_progress' %}class="active"{% endif %}>
			<a href="{% url 'reports:year_progress' years.0 %}">Year progress</a>
			<div class="dropdown">
				<button class="dropdown__btn"></button>
				<div class="dropdown__menu">
					{% for item in years %}
					<a href="{% url 'reports:year_progress' item %}">{{ item }}</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<!-- Charts and Statistic -->
		{% url 'reports:chart_overall' as url_chart_overall %}
		{% url 'reports:extremums' as url_extremums %}
		{% to_list url_chart_overall url_extremums as url_list_statistic %}

		<div {% if request.path in url_list_statistic  %}class="active"{% endif %}>
			<a href="{{url_chart_overall}}">Statistic</a>
			<div class="dropdown">
				<button class="dropdown__btn"></button>
				<div class="dropdown__menu">
					<a href="{{url_chart_overall}}">Charts</a>
					<a href="{{url_extremums}}">Extremums</a>
				</div>
			</div>
		</div>

		{% if bike_list%}
		<!-- Component wear -->
		<div {% if request.resolver_match.url_name == 'stats_list' %}class="active"{% endif %}>
			<a href="{% url 'bikes:stats_list' default_bike.slug %}">Component wear</a>
			<div class="dropdown">
				<button class="dropdown__btn"></button>
				<div class="dropdown__menu">
					{% for bike in bike_list %}
					<a href="{% url 'bikes:stats_list' bike.slug %}"> {{ bike.short_name }}
						{% if bike.main %}<i class="bi bi-star" style="color:rgb(4, 196, 4);"></i>{% endif %}
						{% if bike.retired %}<i class="bi bi-dash-circle" style="color:rgb(230, 1, 1)"></i>{% endif %}
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}

		<!-- Settings -->
		{% url 'bikes:bike_list' as url_bike_list %}
		{% url 'goals:goal_list' as url_goal_list %}
		{% url 'bikes:component_list' as url_component_list %}
		{% url 'users:sync_update' as url_garmin %}
		{% to_list url_bike_list url_goal_list url_component_list url_garmin as url_list_settings %}
		<div {% if request.path in url_list_settings or 'info' in request.path %}class="active"{% endif %}>
			<a href="{{url_bike_list}}">Settings</a>
			<div class="dropdown">
				<button class="dropdown__btn"></button>
				<div class="dropdown__menu">
					<a href="{{url_bike_list}}">Bikes</a>
					<a href="{{url_goal_list}}">Goals</a>
					<a href="{{url_component_list}}">Components</a>
					<a href="{{url_garmin}}">Garmin Profile</a>
				</div>
			</div>
		</div>

		<!-- Profile -->
		<div>
			<a href="{% url 'users:logout' %}">Profile</a>
			<div class="dropdown">
				<button class="dropdown__btn"></button>
				<div class="dropdown__menu">
					<a href="{% url 'users:logout' %}">Logout</a>
				</div>
			</div>
		</div>

	</nav>


	<!-- Content -->
	<main id="htmx-container">{% block content %}{% endblock content %}</main>


	<!-- Modal -->
	<div id="mainModalContainer" class="modal">
		<div id="mainModal" class="modal-dialog" hx-target="this" hx-swap="this"></div>
	</div>

	{% endblock body %}
  </body>
</html>
