{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/css-loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/app_global.css' %}" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/jquery-ui-1.11.3.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script> <!-- Htmx -->
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script> <!-- Alpine Core -->
	<script src="https://unpkg.com/sticky-table-headers"></script>
    {% include 'core/includes/form_date_scripts.html' %}
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dialog.js' %}"></script>

    {% block head %}{% endblock head %}

    <title>Bike statistic</title>
  </head>

  <body>
	  <!-- Loader -->
	<div class="htmx-indicator loader loader-default is-active" id="indicator"></div>
	{% block body %}
	<div class="container-fluid">
		<section class="section-content py-3">
			<div class="row">
				<aside class="d-flex col-lg-1 col-sm-2">
					<nav class="sidebar">
						<!-- Data -->
						<h6 class="side-bar"> Data </h6>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-get="{% url 'index' %}"> View </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-indicator="#indicator" hx-get="{% url 'data:data_insert' %}"> Update </a>
							</li>
						</ul>
						<!-- Charts -->
						<h6 class="side-bar"> Statistic </h6>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-get="{% url 'reports:chart_overall' %}"> Charts </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-get="{% url 'reports:extremums' %}"> Extremums </a>
							</li>
						</ul>
						<!-- Stats and Goals -->
						<h6 class="side-bar"> Stats & Goals </h6>
						<ul class="nav flex-column">
							{% for item in years %}
							{% if forloop.counter < 6 %}
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-indicator="#indicator" hx-get="{% url 'reports:year_progress' item %}"> {{ item }} </a>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
						<!-- Component wear -->
						<h6 class="side-bar"> Component wear </h6>
						<ul class="nav flex-column" hx-get="{% url 'bikes:bike_menu' %}" hx-target="this" hx-trigger="load, bike_update from:body">

						</ul>
						<!-- Settings -->
						<h6 class="side-bar"> Settings </h6>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-get="{% url 'bikes:bike_list' %}"> Bikes </a>
							</li>
							<li class="nav-item" hx-get="{% url 'bikes:info_default' %}" hx-target="this" hx-trigger="load"></li>
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-get="{% url 'goals:goal_list' %}"> Goals </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-get="{% url 'bikes:component_list' %}">Components</a>
							</li>
						</ul>
						<!-- Profile -->
						<h6 class="side-bar"> Profile </h6>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" role="button" hx-target="#htmx-container" hx-get="{% url 'users:sync_update' %}"> Garmin </a>
							</li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="btn btn-sm btn-warning text-start" role="button" href="{% url 'users:logout' %}"> Logout </a>
							</li>
						</ul>
					</nav>
				</aside>
				<main class="col-lg-11 col-sm-10" id="htmx-container">{% block content %}{% endblock content %}</main>
			</div>
		</section>

		<div id="modal" class="modal fade">
			<div id="dialog" class="modal-dialog modal-650" hx-target="this" hx-swap="this"></div>
		</div>
	  {% endblock body %}
  </body>
</html>
