{% load humanize %}
{% load template_filters %}
{% load slippers %}

<div class="row mb-2 me-0 px-1 py-2 wear-stats">
    <div class="col-1-sm ml-3">{{ component.name }}:</div>
    <div class="col">
        {% for key, value in stats.items %}
        <span class="me-4">{{ key }}: {{ value|floatformat:0|intcomma }} km</span>{% endfor %}
    </div>
    <div class="col text-right">
        Total <b>{{ bike_slug|title }}</b>: {{ total|floatformat:0|intcomma }}km
    </div>
</div>

<table class="table table-striped table-hover table-sm mb-5 tbl-js" id="tbl-0">
    <thead>
        <tr class="thead-light">
            <th width="20%">Start date</th>
            <th width="20%">End date</th>
            <th width="15%">Price</th>
            <th>Brand</th>
            <th class="text-right" width="10%">Actions</th>
            <th width="15%" class="km pe-1 text-right">km</th>
        </tr>
    </thead>
    <tbody>
        {% for item in component_statistic %}
        {% url 'bikes:stats_update' bike_slug item.id as url_update %}
        {% url 'bikes:stats_delete' bike_slug item.id as url_delete %}
        <tr id="row_id_{{ item.id }}" data-pk="{{ item.id }}" data-url="{{ url_update }}">
            <td>{{ item.start_date|date:"Y-m-d" }}</td>
            <td>{% if item.end_date %}{{ item.end_date|date:"Y-m-d" }}{% else %}{% now "Y-m-d" %}{% endif %}</td>
            <td>{{ item.price|default_if_none:'-' }}</td>
            <td>{{ item.brand }}</td>
            <td class="text-right">
                {% edit_button url=url_update %}
                {% delete_button url_delete %}
            </td>
            <td class="km pe-1 text-right">
                {% with km|get_item:item.id as km %}{{ km|floatformat:0|intcomma }}{% endwith %}</td>
        </tr>
        {% empty %}
        <tr><td class="bg-warning text-center" colspan="6">No records</td></tr>
        {% endfor %}
    </tbody>
</table>
