{% load crispy_forms_tags %}
{% load slippers %}

<tr id="edit-form">
    <td colspan="3" class="mx-0 px-0 py-0 my-0">
        <form method="post" action="{{ url }}" class="js-update-form" data-pk="{{ form.instance.pk }}" data-tbl="0"
            novalidate>
            {% csrf_token %}
            <table style="width: 100%" class="table table-borderless inner">
                <tr class="table-warning">
                    <td width="12%">{{ form.component|as_crispy_field }}</td>
                    <td>{{ form.description|as_crispy_field }}
                        {{ form.bike }}
                    </td>
                    <td class="text-right" width="10%">
                        {% close_button %}
                        {% save_button %}
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
