{% load slippers %}

<table class="table table-sm table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th style="width: 10%">#</th>
            <th>Component</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody id="component-tbody">
        {% for component in components %}
        {% url 'bikes:component_update' component.id as url_update %}
        {% url 'bikes:component_delete' component.id as url_delete %}
        <tr id="row_id_{{ component.pk }}" data-pk="{{ component.pk }}" data-url="{{ url_update }}" data-tbl="0">
            <td class="py-1">{{ component.id }}</td>
            <td class="py-1">{{ component.name }}</td>
            <td class="py-1 text-right">
                {% edit_button label=True url=url_update %}
                {% delete_button label=True url=url_delete %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center bg-warning">No components</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
