{% load humanize %}
{% load template_filters %}
{% load slippers %}

{% url 'bikes:stats_update' bike.slug item.id as url_update %}
{% url 'bikes:stats_delete' bike.slug item.id as url_delete %}
<tr id="row_id_{{ item.id }}" data-pk="{{ item.id }}" data-url="{{ url_update }}">
    <td>{{ item.start_date|date:"Y-m-d" }}</td>
    <td>{% if item.end_date %}{{ item.end_date|date:"Y-m-d" }}{% else %}{% now "Y-m-d" %}{% endif %}</td>
    <td>{{ item.price|default_if_none:'-' }}</td>
    <td>{{ item.brand }}</td>
    <td class="text-end">
        {% with km|get_item:item.id as km %}{{ km|floatformat:0|intcomma }}{% endwith %}
    </td>
    <td class="text-end">
        {% edit_button url=url_update %}
        {% delete_button url_delete %}
    </td>
</tr>
