{% load buttons %}
<table class="table table-striped table-hover table-md tbl-js" id="tbl-0">
    <thead class="thead-light">
        <tr>
            <th width="300rem">Date</th>
            <th width="300rem"><span class="empty"></span> Full Name</th>
            <th width="300rem">Short Name</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in objects %}
        {% url 'bikes:bike_update' item.id as url_update %}
        {% url 'bikes:bike_delete' item.id as url_delete %}
        <tr id="row_id_{{ item.id }}" data-pk="{{ item.id }}" data-url="{{ url_update }}" data-tbl="0">
            <td>{{ item.date|date:'Y-m-d' }}</td>
            <td>{% if item.main %}<span style="color:red"><i class="far fa-bookmark"></i></span> {% else %}<span class="empty"></span>{% endif %}{{ item.full_name }}</td>
            <td><a href="{% url 'bikes:info_list' item.slug %}">{{ item.short_name }}</a></td>
            <td class="text-right last">
                {% button_edit pk=item.id url=url_update tbl='0' label='True' %}
                {% button_delete type='button' pk=item.id url=url_delete tbl='0' label='True' %}
            </td>
        </tr>
        {% empty %}
        <tr><td class="bg-warning text-center" colspan="4">No records</td></tr>
        {% endfor %}
    </tbody>
</table>
<style>
    #div_id_main {
        padding-top: .2rem;
        margin-left: 2rem;
    }
    .empty {
        padding-left: 14px;
    }
</style>
