{% load crispy_forms_tags %}
{% load slippers %}

<tr id="edit-form">
    <td colspan="4" class="mx-0 px-0 py-0 my-0">
        <form method="post" action="{{ url }}" class="js-update-form" data-pk="{{ form.instance.pk }}" data-tbl="0" novalidate>
            {% csrf_token %}
            {{ form.media }}
            <table class="table table-md table-borderless inner">
                <tr class="table-warning">
                    <td width="300rem">{{ form.date|as_crispy_field }}</td>
                    <td width="300rem">{{ form.full_name|as_crispy_field }}</td>
                    <td width="300rem">{{ form.short_name|as_crispy_field }}</td>
                    <td>{{ form.main|as_crispy_field }}</td>
                    <td>{{ form.retired|as_crispy_field }}</td>
                    <td class="text-right last">
                        {% close_button label='True' %}
                        {% save_button label='True' %}
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
