{% load humanize %}

<div class="alert alert-info d-flex justify-content-between" role="alert">
    <div>{% for key, value in stats.items %}
        {{ key }}: {{ value|floatformat:0|intcomma }} km
        {% endfor %}</div>
    <div>{{bike}} / <strong>{{component.name}}</strong></div>
    <div> Total: {{ total|floatformat:0|intcomma }}km</div>
</div>

<table class="table table-striped table-bordered table-hover table-sm">
    <thead>
        <tr class="table-primary">
            <th>Start date</th>
            <th>End date</th>
            <th class="w7">Price</th>
            <th class="w10">Brand</th>
            <th class="text-end w7">km</th>
            <th class="text-end w6">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider" id="stats-table-tbody">
        {% for object in component_statistic %}
        {% include 'bikes/includes/partial_stats_row.html' %}
        {% empty %}
        <tr><td class="bg-warning text-center" colspan="6">No records</td></tr>
        {% endfor %}
    </tbody>
</table>
