{% load slippers %}

<table class="table table-striped table-bordered table-hover table-sm">
    <thead class="table-primary">
        <tr>
            <th> Date </th>
            <th><span class="empty"></span> Full Name </th>
            <th> Short Name </th>
            <th class="text-end"> Actions </th>
        </tr>
    </thead>
    <tbody class="table-group-divider" id="bike-table-tbody">
        {% for object in object_list %}
        {% include 'bikes/includes/partial_bike_row.html' %}
        {% empty %}
        <tr><td class="bg-warning text-center" colspan="4">No records</td></tr>
        {% endfor %}
    </tbody>
</table>
