{% load slippers %}

<table class="table table-sm table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th width="12%">Component</th>
            <th>Description</th>
            <th width="10%" class="text-right pe-3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in objects %}
        {% url 'bikes:info_update' item.bike.slug item.pk as url_update %}
        {% url 'bikes:info_delete' item.bike.slug item.pk as url_delete %}
        <tr id="row_id_{{ item.id }}" data-pk="{{ item.id }}" data-url="{{ url_update }}" data-tbl="0">
            <td>{{ item.component }}</td>
            <td>{{ item.description }}</td>
            <td class="text-right last">
                {% edit_button url=url_update %}
                {% delete_button url=url_delete %}
            </td>
        </tr>
        {% empty %}
        <tr><td class="bg-warning text-center" colspan="3">No records</td></tr>
        {% endfor %}
    </tbody>
</table>

