{% load humanize %}
{% load slippers %}
{% load template_filters %}

{% url 'bikes:stats_update' object.bike.slug object.id as url_update %}
{% var row_id="row-id-"|join:object.id %}
<tr id="{{row_id}}" hx-target="this" hx-swap="outerHTML" hx-trigger="click[ctrlKey]" hx-get="{{url_update}}">
    <td>{{ object.start_date|date:"Y-m-d" }}</td>
    <td>{% if object.end_date %}{{ object.end_date|date:"Y-m-d" }}{% else %}{% now "Y-m-d" %}{% endif %}</td>
    <td>{{ object.price|default_if_none:'-' }}</td>
    <td>{{ object.brand }}</td>
    <td class="text-end">
        {% with km|get_item:object.id as km %}{{ km|floatformat:0|intcomma }}{% endwith %}
    </td>
    <td class="text-end">
        {% edit_button url=url_update target=row_id swap='outerHTML' %}
        {% url 'bikes:stats_delete' object.bike.slug object.id as url_delete %}
        {% delete_button url=url_delete %}
    </td>
</tr>
