.text-end {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.tbl-responsive {
    overflow-x: auto;
}

// HTMX indicator
.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}