
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/static/font/glyphicons-halflings-regular.ttf') format('truetype'),
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .7rem;
    color: black;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 0;
    margin-bottom: .5rem;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

// HTMX indicator
.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}

@import 'reset';
@import 'navigation';
@import 'table';