{% load slippers %}

<tr id="edit-form">
    <td colspan="14" class="mx-0 px-0 py-0 my-0">
        <form method="post" action="{% url 'goals:goals_delete' object.year %}" class="js-delete-form"
            data-pk="{{ object.pk }}" data-tbl="0" novalidate>
            {% csrf_token %}
            <table class="tbl-main table-md table-borderless inner">
                <tr class="table-danger">
                    <td width="150rem" class="v-middle">
                        <em>{{ object.pk }}</em>
                    </td>
                    <td class=" v-middle text-center">
                        Are you sure you want to delete record: <strong>{{ object }}</strong>?
                    </td>

                    <td class="text-end last" width="100rem">
                        {% close_new_form_button %}
                        {% delete_button %}
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
