{% load slippers %}
{% load humanize%}
{% load template_filters %}

{% url 'goals:goals_update' object.year as url_update %}
{% url 'goals:goals_delete' object.year as url_delete %}
{% var row_id="row-id-"|join:object.pk %}
<tr id="{{row_id}}" hx-target="this" hx-swap="outerHTML" hx-trigger="click[ctrlKey]" hx-get="{{url_update}}">
    <td>{{ object.year }}</td>
    <td>{{ object.goal|intcomma }}</td>
    <td class="text-end last">
        {% edit_button url=url_update label='True'  target=row_id swap='outerHTML' %}
        {% delete_button url=url_delete label='True' %}
    </td>
    {% with distances|get_item:object.year as d %}
    <td class="pe-2 text-end {% if d.distance >= goal.goal %}table-success{% else %}table-danger{% endif %}" width="120rem">{{ d.distance|floatformat:0|intcomma }}</td>
    {% endwith %}
</tr>
