{% load crispy_forms_tags %}
{% load slippers %}

<tr id="edit-form">
    <td colspan="14" class="mx-0 px-0 py-0 my-0">
        <form method="post" action="{{ url }}" class="js-update-form" data-pk="{{ form.instance.pk }}" data-tbl="0"
            novalidate>
            {% csrf_token %}
            {{ form.media }}
            <table class="table table-md table-borderless inner">
                <tr class="table-warning">
                    <td width="100rem">{{ form.year|as_crispy_field }}</td>
                    <td width="100rem">{{ form.goal|as_crispy_field }}</td>
                    <td class="text-right last" width="80rem">
                        {% close_button %}
                        {% save_button %}
                    </td>
                    <td colspan="11"></td>
                </tr>
            </table>
        </form>
    </td>
</tr>
