{% extends 'accounts/accounts_base.html' %}

{% block content %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Log in</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {% include 'core/includes/form.html' %}
                            <button type="submit" class="btn btn-primary btn-block">Log in</button>
                        </form>
                    </div>
                </div>
                <div class="text-center py-2">
                    <small>
                        <a href="#" class="text-muted">Forgot your password?</a>
                    </small>
                </div>

{% endblock %}
