:root {
  --bs-body-font-size: 0.75rem;
  --font-size-xs: .65rem;
  --font-size-sm: .75rem;
}

.tooltip,
.form-control,
.form-control-sm,
.input-group-text {
  font-size: var(--font-size-sm);
}

.btn-sm {
  font-size: var(--font-size-sm);
  padding: .1rem .3rem;
}

.table-sm > thead > tr > th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table-sm > tbody > tr {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.form .mb-3 {
  margin-bottom: 0!important;
}
