.list-group-item {
  padding: .25rem 0 .25rem .5rem;
  font-size: .8rem;
  border: 0;
}

h6.side-bar {
  margin: 1rem 0 .25rem .25rem;

}

h6.side-bar:first-child { 
  margin-top: .5rem;
}

.navbar {
  padding: .25rem .5rem;
}

.nav-link {
  padding: 0;
  margin: .25rem 0;
}

.navbar-nav>.nav-item a:first-child {
  margin-left: -.5rem;
}

.container-fluid>.content {
  padding: 0 1rem;
}
