.form-group {
  margin: 0;
  padding: 0;
}

.btn {
  width: 45%;
  margin-left: 0px;
  padding-left: 2px;
}

.inner {
  margin: 0;
  padding: 0;
}

.inner td {
  padding-top: .25rem;
  padding-bottom: .25rem;
  vertical-align: middle;
}
