table td {
  font-size: .9rem!important;
  vertical-align: middle!important;
  padding-top: .15rem!important;
  padding-bottom: .15rem!important;
  padding-left: .50rem!important;
}

table thead th {
  vertical-align: middle!important;
  padding-top: .35rem!important;
  padding-bottom: .35rem!important;
  padding-left: .50rem!important;
}

table tfoot td {
  padding-top: .35rem!important;
  padding-bottom: .35rem!important;
}

.form-group {
  margin: 0;
  padding: 0;
}

.inner {
  margin: 0;
  padding: 0;
}

.inner td {
  padding-top: .25rem!important;
  padding-bottom: .25rem!important;
  vertical-align: middle;
  padding-left: 4px!important;
}

.inner td input {
  padding-left: .25rem!important;
}

.km {
  border-left: orangered dotted 1px!important;
}
