form.data>.row {
  width: 100%;
  margin: 0 auto;
  padding: 0.05rem 0;
  align-items: center;
  justify-content: space-around;
}

form.data>.row:nth-child(odd) {
  background-color: rgb(221, 235, 247);
  border-radius: .2rem;
}

form.filter>.row {
  margin-top: .25rem;
}

input, select {
  font-size: .785rem!important;
}

input[id*='time'],
input[id*='distance'],
input[id*='temperature'],
input[id*='ascent'],
input[id*='descent'] {
  margin-top: .035rem;
}

input[type=text], input[type=number] {
  text-align: center;
}

.asteriskField {
  display: none;
}

.btn_filter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.formColumn {
  padding: .15rem;
  margin: 0;
}

.form-group {
  margin: 0;
  padding: 0;
}

.form-actions {
  margin-top: .25rem;
  text-align: right;
}

/* Top row */
.rowHead {
  display: flex;
  margin: .5rem 0 .1rem 0;
  border-radius: .2rem;
  display: flex;
  background-color: #9bc2e6;
  border: #2f75b5 1px solid;
  font-size: .9rem!important;  
}

.colHead {
  padding: .25rem .25rem;
}
