{% extends request.htmx|yesno:"base_htmx.html,base.html" %}

{% load slippers %}
{% load template_filters %}

{% block content %}

<div class="hidden" hx-get="{% url 'bikes:bike_list' %}" hx-trigger="reload from:body" hx-target="#htmx-container"></div>

<div class="buttons-group">
    {% url 'bikes:bike_create' as url_create %}
    {% new_button url=url_create label='New Bike' target="mainModal" css_class="end" %}
</div>

{% if object_list %}

<table class="tbl-main tbl-striped tbl-hover bike-cols">
    <thead>
        <tr>
            <th>Date</th>
            <th>Full Name</th>
            <th>Short Name</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}

        {% url 'bikes:bike_update' object.id as url_update %}
        {% url 'bikes:bike_delete' object.id as url_delete %}
        <tr hx-target="#mainModal" hx-trigger="dblclick" hx-get="{{url_update}}">
            <td>{{ object.date|date:'Y-m-d' }}</td>
            <td>
                {% if object.main %}<i class="bi bi-star bike-main"></i>{% endif %}
                {% if object.retired %}<i class="bi bi-dash-circle bike-retired"></i>{% endif %}
                {% if not object.main and not object.retired %}{% endif %}
                {{ object.full_name }}
            </td>
            <td><a href="{% url 'bikes:info_list' object.slug %}">{{ object.short_name }}</a></td>
            <td class="text-end">
                {% edit_button url=url_update target='mainModal' %}
                {% delete_button url=url_delete %}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="alert alert-warning">No records</div>

{% endif %}

{% endblock content %}
