{% load crispy_forms_tags %}
{% load slippers %}

<tr id="bike-form">
    <td colspan="4" class="inner">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.media }}
            <table class="table table-borderless inner">
                <tr class="table-warning" hx-target="#bike-form" hx-swap="outerHTML" hx-trigger="click[ctrlKey]" hx-post="{{view.url}}">
                    <td>{{ form.date|as_crispy_field }}</td>
                    <td>{{ form.full_name|as_crispy_field }}</td>
                    <td>{{ form.short_name|as_crispy_field }}</td>
                    <td>{{ form.main|as_crispy_field }}</td>
                    <td>{{ form.retired|as_crispy_field }}</td>
                    <td class="text-end">
                        {% save_button url=view.url target='bike-form' swap='outerHTML' label='True' %}
                        {% if object %}
                        {% url 'bikes:bike_detail' object.pk as url_detail %}
                        {% close_button url=url_detail target='bike-form' swap='outerHTML' label='True' %}
                        {% else %}
                        {% close_new_form_button id='bike-form' label='True' %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
