{% extends request.htmx|yesno:"base_htmx.html,base.html" %}

{% load slippers %}

{% block content %}

<div class="hidden" hx-get="{% url 'bikes:bike_list' %}" hx-trigger="reload from:body" hx-target="htmx-container"></div>

<div class="buttons-group">
    {% url 'bikes:bike_create' as url_create %}
    {% new_button url=url_create label='New Bike' target="table-tbody" swap="afterbegin" css_class="end" %}
</div>

<table class="table table-striped able-hover">
    <thead>
        <tr>
            <th class="w20"> Date </th>
            <th class="w20"> Full Name </th>
            <th> Short Name </th>
            <th class="text-end w10"> Actions </th>
        </tr>
    </thead>
    <tbody id="table-tbody">
        {% for object in object_list %}
        {% include 'bikes/includes/partial_bike_row.html' %}
        {% empty %}
        <tr>
            <td class="bg-warning text-center" colspan="4"> No records </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
