{% extends request.htmx|yesno:"base_htmx.html,base.html" %}

{% load slippers %}
{% load humanize %}

{% block content %}

<div hx-trigger="reload from:body" hx-get="{% url 'bikes:stats_list' bike.slug component.pk %}" hx-target="#htmx-container" class="hidden"></div>

<div class="buttons-group">
    {% for item in object_list %}
    <button hx-target="#htmx-container" hx-get="{% url 'bikes:stats_list' bike.slug item.id %}" hx-swap="innerHTML"  hx-target="#htmx-container" class="{% if item.id == component.pk %}btn-primary{% else %}btn-secondary{% endif %}">{{ item.name }}</button>
    {% endfor %}

    {% url 'bikes:stats_create' bike.slug component.pk as url_create %}
    {% new_button url=url_create label='New Component' url=url_create target="stats-table-tbody" swap="afterbegin" css_class="end" %}
</div>

<div class="alert alert-info">
    <div>{% for key, value in stats.items %}
        {{ key }}: {{ value|floatformat:0|intcomma }} km
        {% endfor %}</div>
    <div><strong>{{bike}}</strong> / {{component.name}}</div>
    <div> Total: {{ total|floatformat:0|intcomma }}km</div>
</div>

<table class="tbl-main tbl-striped tbl-hover">
    <thead>
        <tr>
            <th>Start date</th>
            <th>End date</th>
            <th class="component-wear-col-price">Price</th>
            <th class="component-wear-col-brand">Brand</th>
            <th class="component-wear-col-distance text-end">km</th>
            <th class="component-wear-col-buttons text-end">Actions</th>
        </tr>
    </thead>
    <tbody id="stats-table-tbody">
        {% for object in component_statistic %}
        {% include 'bikes/includes/partial_component_wear_row.html' %}
        {% empty %}
        <tr><td class="bg-warning" colspan="6">No records</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
