{% load crispy_forms_tags %}
{% load slippers %}

<tr id="form-row">
    <td colspan="4" class="inner">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.media }}
            <table class="tbl-main inner">
                <tr class="tbl-warning" hx-target="#form-row" hx-swap="outerHTML" hx-trigger="click[ctrlKey]" hx-post="{{view.url}}">
                    <td class="w7"> </td>
                    <td>{{ form.name|as_crispy_field }}</td>
                    <td class="w10 text-end">
                        {% save_button url=view.url target='form-row' swap='outerHTML' label='True' %}
                        {% if object %}
                        {% url 'bikes:component_detail' object.pk as url_detail %}
                        {% close_button url=url_detail target='form-row' swap='outerHTML' label='True' %}
                        {% else %}
                        {% close_new_form_button id='form-row' label='True' %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
