{% extends 'base.html' %}
{% load humanize %}
{% load slippers %}


{% block content %}
    <div class="row my-2">
        <div class="col">
                {% for item in object_list %}
                <a role="button" href="{% url 'bikes:stats_list' bike_slug item.id %}" class="btn btn-sm {% if item.id == component.pk %}btn-primary{% else %}btn-secondary{% endif %}">{{ item.name }}</a>
                {% endfor %}
        </div>
        <div class="col-sm-2 text-end">
            {% url 'bikes:stats_create' bike_slug component.pk as url_create %}
            {% new_button url=url_create label='New Component' width='70%' %}
        </div>
    </div>
    {% include 'bikes/includes/partial_component_wear_list.html' %}
{% endblock content %}
