{% extends "base.html" %}

{% load slippers %}


{% block content %}

<div class="row my-2">
    <div class="col text-end">
        {% url 'bikes:component_create' as url_create %}
        {% new_button url=url_create label='New Component' width='19%' target="table-tbody" swap="afterbegin" %}
    </div>
</div>

<div id="htmx-container" hx-trigger="reload from:body" hx-get="{% url 'bikes:component_list' %}" hx-target="this">
    {% include "bikes/includes/partial_component_list.html" %}
</div>

{% endblock content %}
