{% extends request.htmx|yesno:"base_htmx.html,base.html" %}

{% load slippers %}

{% block content %}
<div id="local-htmx-container">
    <div class="row">
        <div class="col">
            {% for bike in bike_list %}
            <a role="button" hx-target="#local-htmx-container" hx-get="{% url 'bikes:info_list' bike_slug=bike.slug %}" class="btn btn-sm px-3 {% if bike.slug == request.resolver_match.kwargs.bike_slug %}btn-primary{% else %}btn-secondary{% endif %}">{{ bike.short_name }}</a>
            {% endfor %}
        </div>
        <div class="col-2 text-end">
            {% url 'bikes:info_create' request.resolver_match.kwargs.bike_slug as url_create %}
            {% new_button url=url_create label='New Record' width="100%" target="table-tbody" swap="afterbegin"%}
        </div>
    </div>

    <div class="mt-2" hx-get="{% url 'bikes:info_list' request.resolver_match.kwargs.bike_slug %}" hx-trigger="reload from:body" hx-target="#htmx-container">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="table-primary">
                <tr>
                    <th width="12%">Component</th>
                    <th>Description</th>
                    <th width="10%" class="text-end pe-3">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="table-tbody">
                {% for object in object_list %}
                {% include 'bikes/includes/partial_info_row.html' %}
                {% empty %}
                <tr>
                    <td class="bg-warning text-center" colspan="3"> No records </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
