{% extends 'base.html' %}

{% load slippers %}


{% block content %}
    <div class="row">
        <div class="col">
                {% for item in object_list %}
                <a role="button" href="{% url 'bikes:stats_list' bike.slug item.id %}" class="btn btn-sm {% if item.id == component.pk %}btn-primary{% else %}btn-secondary{% endif %}">{{ item.name }}</a>
                {% endfor %}
        </div>
        <div class="col-2 text-end">
            {% url 'bikes:stats_create' bike.slug component.pk as url_create %}
            {% new_button url=url_create label='New Component' url=url_create target="stats-table-tbody" swap="afterbegin" width="100%" %}
        </div>
    </div>

    <div id="htmx-container" hx-trigger="reload from:body" hx-get="{% url 'bikes:stats_list' bike.slug component.pk %}" hx-target="this">
        {% include 'bikes/includes/partial_stats_list.html' %}
    </div>
{% endblock content %}
