{% load crispy_forms_tags %}
{% load slippers %}

<tr id="component-stats-form">
    <td colspan="6" class="inner">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.media }}
            <table class="table-inner">
                <tr hx-trigger="click[ctrlKey]" hx-post="{{view.url}}">
                    <td class="component-wear-col-date">{{form.start_date|as_crispy_field}}</td>
                    <td class="component-wear-col-date">{{form.end_date|as_crispy_field}}</td>
                    <td class="component-wear-col-price">{{form.price|as_crispy_field}}</td>
                    <td class="component-wear-col-brand">{{form.brand|as_crispy_field}}</td>
                    <td class="component-wear-col-distance"></td>
                    <td class="component-wear-col-buttons text-end">
                        {% save_button url=view.url %}
                        {% if object %}
                        {% url 'bikes:stats_detail' object.bike.slug object.pk as url_detail %}
                        {% close_button url=url_detail target='component-stats-form' swap='outerHTML' %}
                        {% else %}
                        {% close_new_form_button id='component-stats-form' %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
