{% load crispy_forms_tags %}
{% load slippers %}

<tr id="data-form">
    <td colspan="11" class="inner">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.media }}
            <table class="table-inner">
                <tr hx-target="#data-form" hx-swap="outerHTML" hx-trigger="click[ctrlKey]" hx-post="{{view.url}}">
                    <td>{{ form.bike|as_crispy_field }}</td>
                    <td class="w11">{{ form.date|as_crispy_field }}</td>
                    <td class="w7">{{ form.distance|as_crispy_field }}</td>
                    <td class="w7">{{ form.time|as_crispy_field }}</td>
                    <td class="w7">{{ form.temperature|as_crispy_field }}</td>
                    <td class="w7">{{ form.ascent|as_crispy_field }}</td>
                    <td class="w7">{{ form.descent|as_crispy_field }}</td>
                    <td class="w7">{{ form.max_speed|as_crispy_field }}</td>
                    <td class="w7">{{ form.heart_rate|as_crispy_field }}</td>
                    <td class="w7">
                        {{ form.cadence|as_crispy_field }}
                        {{ form.checked }}
                    </td>
                    <td class="w6">
                        {% save_button url=view.url target='data-form' swap='outerHTML' %}
                        {% if object %}
                        {% url 'data:data_detail' object.pk as url_detail %}
                        {% close_button url=url_detail target='data-form' swap='outerHTML' %}
                        {% else %}
                        {% close_new_form_button id='data-form' %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
