{% extends request.htmx|yesno:"base_htmx.html,base.html" %}

{% load crispy_forms_tags %}
{% load slippers %}

{% block content %}

<div class="hidden" hx-get="{% url 'index' %}" hx-trigger="reload from:body" hx-target="#htmx-container"></div>

<div class="data-filtering-group">
    <form class="form-data-filter" method="post" novalidate autocomplete="off" hx-get="{% url 'index' %}" hx-target="#htmx-container">
        {{ filter_form.start_date|as_crispy_field }}
        {{ filter_form.end_date|as_crispy_field }}
        <input type="submit" value="Filter" class="btn-primary btn-filter">
    </form>
    {% url 'data:data_create' as url_create %}
    {% new_button url=url_create target="mainModal" label='New activity' %}
</div>

{% if object_list %}

<table class="tbl-main tbl-striped tbl-hover data-cols">
    <thead>
        <tr>
            <th>Bike</th>
            <th>Date</th>
            <th>Distance</th>
            <th>Time</th>
            <th>&#8451;</th>
            <th>Ascent</th>
            <th>Descent</th>
            <th>Max Speed</th>
            <th>Heart Rate</th>
            <th>Cadense</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody id="data-table-tbody">
        {% for object in object_list %}
        {% include 'data/includes/partial_data_row.html' %}
        {% endfor %}
    </tbody>
</table>

{% else %}
<div class="alert alert-warning">No records</div>
{% endif %}

{% endblock content %}
