{% load crispy_forms_tags %}
{% load slippers %}
{% load widget_tweaks %}

<tr id="data-form">
    <td colspan="11" class="inner">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.media }}
            <table class="table-inner data-cols">
                <tr hx-target="#data-form" hx-swap="outerHTML" hx-trigger="click[ctrlKey]" hx-post="{{view.url}}">
                    <td>{{ form.bike|as_crispy_field }}</td>
                    <td>{{ form.date|as_crispy_field }}</td>
                    <td>{{ form.distance|add_class:"text-center"|as_crispy_field }}</td>
                    <td>{{ form.time|add_class:"text-center"|as_crispy_field }}</td>
                    <td>{{ form.temperature|add_class:"text-center"|as_crispy_field }}</td>
                    <td>{{ form.ascent|add_class:"text-center"|as_crispy_field }}</td>
                    <td>{{ form.descent|add_class:"text-center"|as_crispy_field }}</td>
                    <td>{{ form.max_speed|add_class:"text-center"|as_crispy_field }}</td>
                    <td>{{ form.heart_rate|add_class:"text-center"|as_crispy_field }}</td>
                    <td>
                        {{ form.cadence|add_class:"text-center"|as_crispy_field }}
                        {{ form.checked }}
                    </td>
                    <td class="w6 text-end">
                        {% save_button url=view.url target='data-form' swap='outerHTML' %}
                        {% if object %}
                        {% url 'data:data_detail' object.pk as url_detail %}
                        {% close_button url=url_detail target='data-form' swap='outerHTML' %}
                        {% else %}
                        {% close_new_form_button id='data-form' %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
