{% extends request.htmx|yesno:"base_htmx.html,base.html" %}

{% load crispy_forms_tags %}
{% load slippers %}

{% block content %}

<div class="hidden" hx-get="{% url 'index' %}" hx-trigger="reload from:body" hx-target="#htmx-container" hx-swap="outerHTML"></div>

<div class="data-filtering-group">
    <form class="form-data-filter" method="post" novalidate autocomplete="off" hx-get="{% url 'index' %}" hx-target="#htmx-container">
        {{ filter_form.start_date|as_crispy_field }}
        {{ filter_form.end_date|as_crispy_field }}
        <input type="submit" value="Filter" class="btn-primary btn-filter">
    </form>
    {% url 'data:data_create' as url_create %}
    {% new_button url=url_create target="data-table-tbody" swap="afterbegin" label='New ride' %}
</div>

<table class="table-main table-striped table-hover table-data">
    <thead>
        <tr>
            <th>Bike</th>
            <th>Date</th>
            <th>Distance</th>
            <th>Time</th>
            <th>&#8451;</th>
            <th>Ascent</th>
            <th>Descent</th>
            <th>Max Speed</th>
            <th>Heart Rate</th>
            <th>Cadense</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="data-table-tbody">
        {% for object in object_list %}
        {% include 'data/includes/partial_data_row.html' %}
        {% empty %}
        <tr><td class="bg-warning text-center" colspan="11">No records</td></tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}
