{% load humanize %}
{% load slippers %}
{% load template_filters %}


{% url 'data:data_update' object.id as url_update %}
{% url 'data:data_delete' object.pk as url_delete %}
{% var row_id="row-id-"|join:object.pk %}
<tr id="{{row_id}}" class="{% if object.checked == 'n' %}waiting-for-review{% endif %}" hx-target="#mainModal" hx-trigger="dblclick" hx-get="{{url_update}}">
    <td>{{ object.bike }}</td>
    <td>{{ object.date|date:'Y-m-d' }}</td>
    <td>{{ object.distance }}</td>
    <td>{{ object.time }}</td>
    <td>{{ object.temperature|default_if_none:'-' }}</td>
    <td>{{ object.ascent|floatformat:0|intcomma }}</td>
    <td>{{ object.descent|floatformat:0|intcomma }}</td>
    <td>{{ object.max_speed|floatformat:1 }}</td>
    <td>{{ object.heart_rate|default_if_none:'-' }}</td>
    <td>{{ object.cadence|default_if_none:'-' }}</td>
    <td class="text-end">
        {% if object.checked == 'n' %}
        {% url 'data:data_quick_update' object.id as url_quick_update %}
        {% quick_save_button url=url_quick_update target=row_id swap='outerHTML' %}
        {% endif %}
        {% edit_button url=url_update target='mainModal' %}
        {% delete_button url=url_delete %}
    </td>
</tr>
