{% extends parent_template|default:"category_goals.html" %}
{% load static %}{% load humanize %}{% load filters %}{% load dictionary_row %}


{% block breadcrumb %}{{ block.super }}
    <span class="navbar-text">&raquo;</span><a class="nav-link disabled" href="{% url 'goals:goals_table' year %}">{{ year }}</a>
{% endblock breadcrumb %}


{% block content %}

<table class="table table-hover table-striped mt-2">
    <thead class="thead-light">
        <tr>
            <th colspan="3"> </th>
            <th colspan="3" class="text-center b-left">Workout Stats</th>
            <th colspan="4" class="text-center b-left">Month Stats</th>
            <th colspan="4" class="text-center b-left">Season Stats</th>
            <th colspan="3" class="text-center b-left">Goals</th>
        </tr>
        <tr>
            <th>Bike</th>
            <th class="text-center">Date</th>
            <th class="text-right">&#8451;</th>
            <th class="text-center b-left">Dist</th>
            <th class="text-center">Time</th>
            <th class="text-center">Speed</th>
            <th class="text-center b-left">Dist</th>
            <th class="text-center">Time</th>
            <th class="text-center">Speed</th>
            <th class="text-center">Per day</th>
            <th class="text-center b-left">Dist</th>
            <th class="text-center">Time</th>
            <th class="text-center">Speed</th>
            <th class="text-center">Per day</th>
            <th class="text-center b-left">Goal</th>
            <th class="text-center">%</th>
            <th class="text-center">Delta</th>
        </tr>
    </thead>
    <tbody>
        {% for value in objects  %}
        {% if not value.match %}<tr>
            <td colspan="17" class="row-spacer"></td>
        </tr>{% endif %}
        <tr>
            <td>{{ value.bike }}</td>
            <td class="text-center">{{ value.date|date:'Y-m-d' }}</td>
            <td class="text-right">{% with value.temperature|floatformat:0 as r %}{% if r != 'nan' %}{{ r }}{% else %}-{% endif %}{% endwith %}</td>
            <td class="text-center b-left">{{ value.distance|floatformat:2 }}</td>
            <td class="text-center">{{ value.sec_workout|duration }}</td>
            <td class="text-center">{{ value.speed_workout|floatformat:1 }}</td>
            <td class="text-center b-left">{% get_row month value.year_month 'distance' as result %}{{ result|floatformat:0 }}</td>
            <td class="text-center">{% get_row month value.year_month 'sec_workout' as result %}{{ result|duration }}</td>
            <td class="text-center">{% get_row month value.year_month 'speed_month' as result %}{{ result|floatformat:1 }}</td>
            <td class="text-center">{% get_row month value.year_month 'per_day_month' as result %}{{ result|floatformat:1 }}</td>
            <td class="text-center b-left">{{ value.distance_season|floatformat:0|intcomma }}</td>
            <td class="text-center">{{ value.sec_season|duration }}</td>
            <td class="text-center">{{ value.speed_season|floatformat:1 }}</td>
            <td class="text-center">{{ value.per_day_season|floatformat:1 }}</td>
            <td class="text-center b-left">{{ value.day_goal|floatformat:0|intcomma }}</td>
            <td class="text-center">{{ value.percent|floatformat:1 }}</td>
            <td class="text-center">{{ value.km_delta|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
