{% extends request.htmx|yesno:"base_htmx.html,base.html" %}

{% load slippers %}
{% load humanize %}
{% load template_filters %}

{% block content %}

<div class="hidden" hx-trigger="reload from:body" hx-get="{% url 'goals:goal_list' %}" hx-target="#htmx-container"></div>

<div class="buttons-group">
    {% url 'goals:goal_create' as url_create %}
    {% new_button url=url_create label='New Goal' target="table-tbody" swap="afterbegin" css_class="end" %}
</div>

<table class="tbl-main tbl-striped tbl-hover">
    <thead>
        <tr>
            <th width="100rem">Year</th>
            <th width="100rem">Goal, km</th>
            <th class="text-end" width="80rem">Actions</th>
            <th class="text-end" width="90rem">Distance</th>
        </tr>
    </thead>
    <tbody id="table-tbody">
        {% for object in object_list %}
        {% include 'goals/includes/partial_goal_row.html' %}
        {% empty %}
        <tr><td class="bg-warning" colspan="4">No records</td></tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}
